/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* / fonts */

/* definitions (usable for everything, can all be changed in one place here) */
:root {
    /* colors */
    --color-primary:#336A86;
    --color-secondary:#8EAEC4;
    --color-accent:#283132;
    --color-background:#ffffff;
}
/* / definitions */

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: var(--color-primary);
}
/* / reset */

/* just a test using definitions*/
body {
    background-color: var(--color-background);
}
/* / just a test */