/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* / fonts */

/* definitions (usable for everything, can all be changed in one place here) */
:root {
    /* colors */
    --color-primary: #336A86;
    --color-secondary: #8EAEC4;
    --color-accent: #283132;
    --color-background: #ffffff;

    --width-maxcontent: 1200px;
    --width-grid-gap: 30px;
}

/* / definitions */

/* reset */
* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: var(--color-primary);
}


.gallery1{
    margin: 2% 10%;
    display:grid;
    grid-template-columns: repeat(2, 50%);
    gap:30px 30px;
}


.gallery-item1 figcaption{
    background-color:initial;
    color: black;    
    padding: 3px;
    text-align:left;
    margin: 0 10%;
}

.gallery2 {
    margin: 2% 10%;
    display:grid;
    gap:30px 30px;
    grid-template-columns: repeat(5,200px);
    grid-template-rows:1fr 1fr 1fr;     
  }
   
  .gallery-item2  {
    border: 4px #c0c0c0 solid;
    padding: 5px;
    margin: auto;    
  }

   .gallery-item2 figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  .gallery-item1 img, .gallery-item2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 150px
  }

  .gallery-item1 img {
    margin: 2% 10%;
    border: thin #c0c0c0 solid;
    padding: 5px;
    gap: 20px 20px;
    border-radius: 6px; 
    width: 100%;     
}

  section {   
    margin-bottom: 3rem;   
}

  @media (max-width: 600px) {
    .gallery1 {
      grid-template-columns:  1fr; 
      grid-template-rows: 1fr 1fr;
      /* 1 column for smaller screens */
  }

  .gallery-item1 figcaption{
    border-bottom: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* Two columns and rows for smaller screens */
  }
    .gallery2 {
        grid-template-columns: repeat(2, 1fr); 
        /* Two columns and rows for smaller screens */
    }
  }
  @media (min-width:601px) and (max-width: 1270px){

    .gallery2 {
      grid-template-columns: repeat(4, 1fr); 
      
  }
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightgray; 
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; 
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background-image: url('images/nature/10.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 120px; 
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #f0c040;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #333;
    color: #f0c040;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color:lightgray; 
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; 
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background-image: url('images/nature/10.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 120px; 
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #f0c040;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #333;
    color: #f0c040;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightgray; 
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; 
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background-image: url('images/nature/10.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 120px; 
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #f0c040;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #333;
    color: #f0c040;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}


/* just a test using definitions*/
body {
    background-color: var(--color-background);
}

/* / just a test */

/* general settings */
img {
    width: 100%;
    height: auto;
}

/* / general settings */

/* sections according to gerd */
section .centered-wrapper {
    width: 100%;
    max-width: var(--width-maxcontent);
    margin: 0 auto;
    padding: 2rem;
}

section.bg-primary {
    background-color: var(--color-primary);
}

section.bg-secondary {
    background-color: var(--color-secondary);
}

section.inverted,
section.inverted p,
section.inverted h1,
section.inverted h2,
section.inverted figcaption {
    color: var(--color-background);
}

section.height-full {
    min-height: 100vh;
}

section.height-half {
    min-height: 50vh;
}

section.height-third {
    min-height: 33vh;
}

section.v-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.headline-hero {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
h2.headline-hero::after {
    content: "";
    width: 10rem;
    display: block;
    margin: 5px auto;
    border-bottom: 1px solid var(--color-primary);
}
section.inverted  h2.headline-hero::after {
    border-color: var(--color-background);
}


/* / sections according to gerd */

/* video section */
section.video video {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
/* / video section */

/* categories section */
.category-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--width-grid-gap);
}

.category-list a {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transition: transform .5s, box-shadow .5s;
}

.category-list a:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, .5);
    transform: translateY(-5px);
}

.category-list a figure {
    position: relative;
}

.category-list a figure figcaption {
    padding: .25rem .5rem;
    position: absolute;
    bottom: 0;
}

.category-list a figure img {
    scale: 1.5;
    transition: scale .5s;
}

.category-list a:hover figure img {
    scale: 1.6;
}

.category-list a figure .image-sizer {
    height: 0;
    padding-bottom: 50%;
    padding-bottom: 66%;
    overflow: hidden;
}

/* / categories section */